


<h1><%= @team_name %></h1>

    <h2>Team Motto: <%= @team_motto %></h2>

    <h2>Hero Name: <%= @first_hero_name.capitalize %></h2>
        <label for="team_name">Hero Power: <%= @first_hero_power %></label><br>
        <label for="team_name">Hero Biography: <%= @first_hero_bio %></label><br>

    <h2>Hero Name: <%= @second_hero_name.capitalize%></h2>
        <label for="team_name">Hero Power: <%= @second_hero_power %></label><br>
        <label for="team_name">Hero Biography: <%= @second_hero_bio %></label><br>

    <h2>Hero Name: <%= @third_hero_name.capitalize%></h2>
        <label for="team_name">Hero Power: <%= @third_hero_power %></label><br>
        <label for="team_name">Hero Biography: <%= @third_hero_bio %></label><br>



    

    

    
