<h1><%= @team_name.capitalize %></h1>

    <h2>Team Motto: <%= @team_motto.capitalize %></h2>


<label for="team_name">Team Name:</label>
    

    <%= @first_hero_name %>

    <%= @first_hero_power %>

    <%= @first_hero_bio %>
